
@main-color: #DDDD00;

#temp_link,
#gcode_link,
#webcam_link,
#timelapse_link,
#control-jog-general,
#control-jog-extrusion{
	display: none;
}
#touch body #tabs.nav-tabs .itemActive{
 	background-color: darken(@main-color, 30%);
//	color: @main-color;
}

#control-jog-z{
    margin-bottom:15px;
}

#control-jog-feedrate .slider-container{
    display: none;
}

//#control-jog-general,
#control-xyhome{
	visibility: hidden;
}

#touch body .modal-scrollable .modal .modal-footer{
    position:relative;
}